@use 'colors' as *;

.error {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  &__title,
  &__content {
    color: $primary-color;
  }
  &__title {
    font-size: 10rem;
    margin: 0;
  }
  &__content {
    font-size: 2rem;
  }
  &__link {
    color: black;
    text-decoration: underline;
  }
}
