@use 'colors' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
  &__nav {
    display: flex;
    gap: 50px;
    & a {
      color: black;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
