@use 'colors' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  &__logo {
    width: 10%;
  }
  &__nav {
    display: flex;
    gap: 50px;
    & a {
      color: black;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    &__logo {
      width: 40%;
    }
    &__nav {
      gap: 20px;
    }
  }
}
