@use 'colors' as *;

.main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  background-color: $background-color;
  padding: 50px;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 480px) {
  .card-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
}
